img {
	width: 100%;
}

.info-container {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
}

.case-study {
	display: flex;
}
.case-study-info {
	display: flex;
	flex-direction: column;
}
